.pagina-1 .mulheres-na-ciencia {
  margin: 0 42px 200.2px 42px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 900;
  font-size: 28px;
  line-height: 1.05;
  color: #FFFFFF;
}
.pagina-1 .texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui-texto-aqui {
  margin-bottom: 86.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .play {
  margin-right: 10px;
  width: 76.9px;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #BC00B7;
}
.pagina-1 .vector-21 {
  width: 4.5px;
  height: 9.3px;
}
.pagina-1 .img-5 {
  margin: 5.2px 0 5.5px 0;
  display: flex;
  width: 4.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.pagina-1 .link-5 {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background: #FFFFFF;
  margin: 0 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 22px 0;
  width: 194.3px;
  box-sizing: border-box;
}
.pagina-1 .container-29 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pagina-1 .stem {
  position: absolute;
  left: 0px;
  top: 12px;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 900;
  font-size: 176px;
  line-height: 1;
  color: #FFFFFF;
}
.pagina-1 .container-6 {
  position: relative;
  margin: 113.5px 608px 0 0;
  display: flex;
  padding-left: 16px;
  box-sizing: border-box;
}
.pagina-1 .home-about-contat-curiosites {
  margin-bottom: 597px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 32px;
  line-height: 0.5;
  color: #FFFFFF;
}
.pagina-1 .header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/header.jpeg') 100%, linear-gradient(180deg, #BC00B7, #600B6E);
  display: flex;
  flex-direction: row;
  padding: 59px 0 255px 122px;
  width: 1920px;
  box-sizing: border-box;
}
.pagina-1 .laboratorio-1 {
  background: url('../assets/images/laboratorio_1.png') 50% / cover no-repeat;
  transform: rotate(19.532deg);
  margin-bottom: 148.4px;
  align-self: flex-end;
  width: 628.1px;
  height: 586.1px;
}
.pagina-1 .texto-2 {
  margin: 0 39px 66px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.838;
  color: #FFFFFF;
}
.pagina-1 .polygon-1 {
  transform: rotate(89.599deg);
  margin: 88px 27.6px 196.1px 0;
  width: 60.4px;
  height: 54.4px;
}
.pagina-1 .x-720-switch-pmttyd-overview-trl-16-x-9-thumb-1 {
  background: url('../assets/images/x_720_switch_pmttyd_overview_trl_16_x_9_thumb_1.jpeg');
  margin-bottom: 8.7px;
  width: 306.7px;
  height: 172.8px;
}
.pagina-1 .container-3 {
  margin-bottom: 33.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
}
.pagina-1 .texto-texto-texto {
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .heading-2 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.pagina-1 .item-link-2 {
  border-radius: 16px;
  background: linear-gradient(314deg, #302F2F, #302F2F, #2A2929, #2A2929);
  margin-right: 24.3px;
  display: flex;
  flex-direction: column;
  padding: 31px 24px 46.5px 24px;
  box-sizing: border-box;
}
.pagina-1 .x-1266-mario-vs-dk-en {
  background: url('../assets/images/x_1266_mario_vs_dk_en.jpeg');
  width: 307px;
  height: 172.8px;
}
.pagina-1 .container-7 {
  border-radius: 6px;
  margin-bottom: 14.7px;
  display: flex;
  width: 307px;
  height: 172.8px;
  box-sizing: border-box;
}
.pagina-1 .container-4 {
  margin-bottom: 33.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
}
.pagina-1 .texto-3 {
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .heading-21 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.pagina-1 .item-link-3 {
  border-radius: 16px;
  background: linear-gradient(314deg, #302F2F, #302F2F, #2A2929, #2A2929);
  margin-right: 23.7px;
  display: flex;
  flex-direction: column;
  padding: 25px 23.7px 46.5px 24px;
  box-sizing: border-box;
}
.pagina-1 .x-1080-waluigi {
  background: url('../assets/images/x_1080_waluigi.jpeg');
  width: 306.7px;
  height: 172.8px;
}
.pagina-1 .container-8 {
  border-radius: 6px;
  margin-bottom: 15.7px;
  display: flex;
  width: 306.7px;
  height: 172.8px;
  box-sizing: border-box;
}
.pagina-1 .container-5 {
  margin-bottom: 20.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
}
.pagina-1 .texto-texto-texto-1 {
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .heading-22 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.pagina-1 .item-link-4 {
  border-radius: 16px;
  background: linear-gradient(314deg, #302F2F, #302F2F, #2A2929, #2A2929);
  display: flex;
  flex-direction: column;
  padding: 24px 24px 59.5px 24px;
  box-sizing: border-box;
}
.pagina-1 .list {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pagina-1 .container-28 {
  margin: 0 130px 41.8px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .texto-4 {
  margin: 0 41.6px 32px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .learn-more {
  margin-right: 11.9px;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}
.pagina-1 .vector-26 {
  width: 3.6px;
  height: 7.4px;
}
.pagina-1 .img-7 {
  margin: 4.1px 0 4.4px 0;
  display: flex;
  width: 3.6px;
  height: 7.4px;
  box-sizing: border-box;
}
.pagina-1 .link-11 {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  background: #BC00B7;
  margin: 0 42.1px 18px 0;
  display: flex;
  flex-direction: row;
  padding: 10px 17.4px 10px 18.2px;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .image-2 {
  background: url('../assets/images/image.png');
  position: absolute;
  left: 0px;
  top: 259.8px;
  right: 0px;
  bottom: -1.8px;
  height: 100%;
}
.pagina-1 .container-10 {
  position: relative;
  margin-right: 42px;
  width: 1920px;
  height: 260px;
}
.pagina-1 .container-22 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1962px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .retro-11 {
  background: url('../assets/images/retro_11.png') 50% / cover no-repeat;
  transform: rotate(-20.551deg);
  position: absolute;
  left: 0px;
  bottom: -318.5px;
  width: 525.5px;
  height: 507.5px;
}
.pagina-1 .background-7 {
  border: 1px solid #BC00B7;
  background: url('../assets/images/background.jpeg') 50% / cover no-repeat, linear-gradient(0deg, #BC00B7, #600B6E);
  position: relative;
  margin-bottom: 579px;
  display: flex;
  width: 1920px;
  box-sizing: border-box;
}
.pagina-1 .border {
  border-image: radial-gradient(0% 0% at 0% 50%, #FFFFFF 100%, rgba(0, 0, 0, 0) 100%);
  border-image-slice: 1;
  border-width: 0;
  border-left-width: 42px;
  border-top-width: 21px;
  border-bottom-width: 21px;
  border-style: solid;
  width: 42px;
  height: 42px;
}
.pagina-1 .background-border {
  border-radius: 52px;
  border: 4px solid #FFFFFF;
  background: linear-gradient(180deg, rgba(0, 145, 223, 0.8), rgba(0, 88, 188, 0.8));
  position: relative;
  display: flex;
  padding: 27px 0 27px 9.6px;
  width: 104px;
  height: 104px;
  box-sizing: border-box;
}
.pagina-1 .container-17 {
  width: 117px;
  height: 102px;
}
.pagina-1 .picture-mario-portal-pps-trailer-jpg {
  background: url('../assets/images/picture_mario_portal_pps_trailer_jpg.png');
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding-left: 43px;
  width: 1022px;
  height: 596.3px;
  box-sizing: border-box;
}
.pagina-1 .overlay-border-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 2px solid #FFFFFF;
  position: absolute;
  left: -4px;
  top: 0px;
  width: 1026px;
  height: 596px;
}
.pagina-1 .button {
  position: relative;
  margin: 0 114px 243.3px 0;
  display: flex;
  padding: 225.1px 0 267.1px 38px;
  width: 1022px;
  height: 596.3px;
  box-sizing: border-box;
}
.pagina-1 .mulheres-que-marcam-historias {
  margin: 0 197.9px 1086.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 64px;
  line-height: 0.344;
  color: #FFFFFF;
}
.pagina-1 .texto-texto-13 {
  margin-right: 816.2px;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .container-35 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .polygon-2 {
  transform: rotate(-90.7deg);
  position: absolute;
  left: 50%;
  top: -18px;
  translate: -50% 0;
  width: 58.8px;
  height: 63.7px;
}
.pagina-1 .image-1 {
  background: url('../assets/images/image.png');
  position: absolute;
  left: -1622px;
  bottom: -132.3px;
  width: 1920px;
  height: 87px;
}
.pagina-1 .container-9 {
  position: absolute;
  top: 611px;
  right: 310.2px;
  width: 58.8px;
  height: 45.7px;
}
.pagina-1 .aeb-789874-e-1-f-90-c-35-f-58-bf-59-d-4651 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/aeb_789874_e_1_f_90_c_35_f_58_bf_59_d_4651.jpeg') 50% / cover no-repeat;
  margin-bottom: 150.5px;
  width: 1915px;
  height: 1262px;
}
.pagina-1 .texto-5 {
  margin: 0 29.9px 142.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 900;
  font-size: 70px;
  line-height: 1.05;
  color: #FFFFFF;
}
.pagina-1 .e-1528-a-3471-bb-0-b-330098-ac-296327-ca-91 {
  background: url('../assets/images/e_1528_a_3471_bb_0_b_330098_ac_296327_ca_91.jpeg') 50% / cover no-repeat;
  width: 657px;
  height: 1005px;
}
.pagina-1 .container-37 {
  margin-right: 95.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 657px;
  box-sizing: border-box;
}
.pagina-1 .texto-6 {
  margin-bottom: 34.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .texto-7 {
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .container-31 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pagina-1 .ff-3-cd-56-bf-8127989-d-1-de-6-b-87046-c-52-b-1 {
  background: url('../assets/images/ff_3_cd_56_bf_8127989_d_1_de_6_b_87046_c_52_b_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: -6px;
  translate: -50% 0;
  width: 236px;
  height: 236px;
}
.pagina-1 .item-link-5 {
  border-radius: 16px;
  background: linear-gradient(136.48deg, #302F2F 100%, #302F2F 101.17%, #2A2929 101.17%, #2A2929 102.33%);
  position: relative;
  margin-right: 24px;
  padding: 242.8px 30.3px 48.5px 30.3px;
  width: 354.7px;
  box-sizing: border-box;
}
.pagina-1 .texto {
  margin-bottom: 23.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .texto-texto {
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .container-30 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pagina-1 .cdf-14-c-4-c-532-dcc-54-ecbf-831-a-08-ddb-1 {
  background: url('../assets/images/cdf_14_c_4_c_532_dcc_54_ecbf_831_a_08_ddb_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 54.7px;
  top: -8px;
  width: 236px;
  height: 236px;
}
.pagina-1 .item-link-6 {
  border-radius: 16px;
  background: linear-gradient(136.48deg, #302F2F 100%, #302F2F 101.17%, #2A2929 101.17%, #2A2929 102.33%);
  position: relative;
  padding: 256.8px 23.7px 45.5px 23.7px;
  width: 354.7px;
  box-sizing: border-box;
}
.pagina-1 .container-20 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .ba-16-c-581-f-01-e-1-ce-2-a-4-a-7-a-0820-a-4205731 {
  background: url('../assets/images/ba_16_c_581_f_01_e_1_ce_2_a_4_a_7_a_0820_a_4205731.jpeg') 50% / cover no-repeat;
  margin: 0 0 22.7px 36.3px;
  align-self: center;
  width: 235px;
  height: 156px;
}
.pagina-1 .texto-texto-1 {
  margin-bottom: 0.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .texto-texto-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .item-link {
  border-radius: 16px;
  background: linear-gradient(136.25deg, #302F2F 100%, #302F2F 101.17%, #2A2929 101.17%, #2A2929 102.34%);
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  padding: 29.5px 0 69.5px 24px;
  width: 354.7px;
  box-sizing: border-box;
}
.pagina-1 .texto-texto-3 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.pagina-1 .texto-texto-4 {
  position: absolute;
  left: 24px;
  bottom: 21.5px;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .item-link-1 {
  border-radius: 16px;
  background: linear-gradient(136.25deg, #302F2F 100%, #302F2F 101.17%, #2A2929 101.17%, #2A2929 102.34%);
  position: relative;
  padding: 195.2px 24px 97.3px 24px;
  width: 354.7px;
  box-sizing: border-box;
}
.pagina-1 .container-21 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .list-1 {
  margin-bottom: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .saiba-mais {
  margin-right: 23.8px;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.pagina-1 .vector {
  width: 4.5px;
  height: 9.3px;
}
.pagina-1 .img {
  margin: 4.2px 0 12.5px 0;
  display: flex;
  width: 4.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.pagina-1 .link {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background: #FFFFFF;
  margin: 0 54.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 23px 0 15px 0;
  width: 194.4px;
  box-sizing: border-box;
}
.pagina-1 .container-26 {
  margin: 130.5px 0 63px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pagina-1 .container-27 {
  margin: 0 105px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .container-18 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pagina-1 .see-more-news {
  margin-right: 38.4px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #BC00B7;
}
.pagina-1 .vector-25 {
  width: 4.5px;
  height: 9.3px;
}
.pagina-1 .img-6 {
  margin: 15.2px 0 15.5px 0;
  display: flex;
  width: 4.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.pagina-1 .link-10 {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background: #FFFFFF;
  position: absolute;
  left: 821px;
  top: -209px;
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  width: 220.3px;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow-8 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 11px;
  height: 11px;
}
.pagina-1 .overlay-shadow-9 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .container-16 {
  margin-bottom: 401.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .texto-texto-7 {
  margin-right: 34.1px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #BC00B7;
}
.pagina-1 .vector-3 {
  width: 4.5px;
  height: 9.3px;
}
.pagina-1 .img-3 {
  margin: 15.2px 0 15.5px 0;
  display: flex;
  width: 4.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.pagina-1 .link-3 {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background: #FFFFFF;
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  width: 171.5px;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow-10 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .overlay-shadow-11 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .container-23 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .container-25 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 418px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .picture-logo-png {
  background: url('../assets/images/picture_logo_png.png');
  width: 450px;
  height: 450px;
}
.pagina-1 .container-5 {
  background: url('../assets/images/picture_characters_png_1.png');
  position: absolute;
  left: 50%;
  top: -144px;
  translate: -50% 0;
  display: flex;
  width: 450px;
  height: 450px;
  box-sizing: border-box;
}
.pagina-1 .texto-1 {
  position: absolute;
  left: 50%;
  bottom: 129.5px;
  translate: -50% 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .background-4 {
  border-radius: 16px;
  background: linear-gradient(320.23deg, #302F2F, #302F2F, #2A2929, #2A2929);
  position: relative;
  margin: 128px 118px 0 0;
  display: flex;
  padding: 16px;
  width: 450px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow-12 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 90px 23px 254px 0;
  width: 11px;
  height: 11px;
}
.pagina-1 .picture-products-burst-png {
  background: url('../assets/images/picture_products_burst_png.png');
  margin-right: 18px;
  width: 355px;
  height: 355px;
}
.pagina-1 .overlay-shadow-13 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 90px 0 254px 0;
  width: 11px;
  height: 11px;
}
.pagina-1 .container-33 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .vector-10 {
  margin-right: 5.9px;
  width: 3.7px;
  height: 3.7px;
}
.pagina-1 .vector-11 {
  margin-right: 5.9px;
  width: 3.7px;
  height: 3.7px;
}
.pagina-1 .vector-7 {
  margin-right: 5.9px;
  width: 3.7px;
  height: 3.7px;
}
.pagina-1 .vector-8 {
  margin-right: 5.1px;
  width: 3.7px;
  height: 3.7px;
}
.pagina-1 .vector-9 {
  margin-right: 5.9px;
  width: 3.7px;
  height: 3.7px;
}
.pagina-1 .vector-5 {
  margin-right: 5.9px;
  width: 3.7px;
  height: 3.7px;
}
.pagina-1 .vector-6 {
  width: 3.7px;
  height: 3.7px;
}
.pagina-1 .group {
  margin: 0 0 11.3px 1px;
  display: flex;
  flex-direction: row;
  width: 60px;
  box-sizing: border-box;
}
.pagina-1 .vector-4 {
  width: 173px;
  height: 15px;
}
.pagina-1 .svg {
  margin-bottom: 8.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 173px;
  box-sizing: border-box;
}
.pagina-1 .texto-texto-8 {
  margin: 0 0 17.4px 0.2px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .texto-texto-9 {
  margin-right: 37.9px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #BC00B7;
}
.pagina-1 .vector-12 {
  width: 4.5px;
  height: 9.3px;
}
.pagina-1 .img-4 {
  margin: 15.2px 0 15.5px 0;
  display: flex;
  width: 4.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.pagina-1 .link-4 {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background: #FFFFFF;
  margin: 0 0px 21px 0;
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  width: 219px;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow-14 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .overlay-shadow-15 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .background-5 {
  border-radius: 16px;
  background: linear-gradient(321.39deg, #302F2F, #302F2F, #2A2929, #2A2929);
  margin-bottom: 105.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 16px 16px;
  width: 450px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .container-4 {
  margin-bottom: 116px;
  display: flex;
  flex-direction: row;
  width: 1018px;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .overlay-shadow-1 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 11px;
  height: 11px;
}
.pagina-1 .container-32 {
  margin: 0 0 21px 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .picture-character-1-png {
  background: url('../assets/images/picture_character_1_png.png');
  width: 184px;
  height: 198.7px;
}
.pagina-1 .container-3 {
  margin-bottom: 75.4px;
  display: flex;
  align-self: flex-start;
  width: 184px;
  height: 198.7px;
  box-sizing: border-box;
}
.pagina-1 .texto-texto-5 {
  margin: 0 0 32.4px 31.2px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .see-the-timeline {
  margin-right: 20px;
  width: 103.7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #BC00B7;
}
.pagina-1 .vector-1 {
  width: 4.5px;
  height: 9.3px;
}
.pagina-1 .img-1 {
  margin: 15.2px 0 15.5px 0;
  display: flex;
  width: 4.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.pagina-1 .link-1 {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background: #FFFFFF;
  margin: 0 0 21px 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0;
  width: 232.3px;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow-2 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .overlay-shadow-3 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .container-19 {
  margin-left: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 449px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .picture-character-3-png {
  background: url('../assets/images/picture_character_3_png.png');
  width: 113px;
  height: 113px;
}
.pagina-1 .picture-character-2-png {
  background: url('../assets/images/picture_character_2_png.png');
  position: absolute;
  top: -51px;
  right: -16px;
  display: flex;
  padding: 0 11px;
  width: 296px;
  height: 330.1px;
  box-sizing: border-box;
}
.pagina-1 .background-1 {
  border-radius: 16px;
  background: linear-gradient(319.48deg, #302F2F, #302F2F, #2A2929, #2A2929);
  position: relative;
  margin: 128px 118px 0 0;
  display: flex;
  padding: 16px 16px 16px 0;
  width: 450px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow-4 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 122px 26px 240px 0;
  width: 11px;
  height: 11px;
}
.pagina-1 .picture-characters-png {
  background: url('../assets/images/picture_characters_png.png');
  margin-right: 27px;
  width: 343px;
  height: 373px;
}
.pagina-1 .overlay-shadow-5 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 122px 0 240px 0;
  width: 11px;
  height: 11px;
}
.pagina-1 .container-36 {
  margin-bottom: 39.4px;
  display: flex;
  flex-direction: row;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .texto-texto-6 {
  margin: 0 26.4px 32.6px 26.6px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .meet-the-characters {
  margin-right: 20px;
  width: 129.1px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #BC00B7;
}
.pagina-1 .vector-2 {
  width: 4.5px;
  height: 9.3px;
}
.pagina-1 .img-2 {
  margin: 15.2px 0 15.5px 0;
  display: flex;
  width: 4.5px;
  height: 9.3px;
  box-sizing: border-box;
}
.pagina-1 .link-2 {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background: #FFFFFF;
  margin: 0 0px 21px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0;
  width: 264.4px;
  box-sizing: border-box;
}
.pagina-1 .overlay-shadow-6 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .overlay-shadow-7 {
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
  background: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
}
.pagina-1 .container-24 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 418px;
  box-sizing: border-box;
}
.pagina-1 .background-2 {
  border-radius: 16px;
  background: linear-gradient(321.76deg, #302F2F, #302F2F, #2A2929, #2A2929);
  margin-bottom: 83.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 16px 16px;
  box-sizing: border-box;
}
.pagina-1 .container-2 {
  margin-bottom: 244px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .image {
  background: url('../assets/images/image_1.png');
  position: absolute;
  left: 0px;
  top: -2px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.pagina-1 .container-1 {
  position: relative;
  width: 2082px;
  height: 260px;
}
.pagina-1 .background {
  background: url('../assets/images/background_1.png') 100%, linear-gradient(226.03deg, #60085E, #BC00B7);
  position: absolute;
  left: -153px;
  bottom: -2437.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2082px;
  height: 1727.3px;
  box-sizing: border-box;
}
.pagina-1 .main {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: -152px;
  bottom: 415px;
  display: flex;
  padding: 209px 153px 117px 14px;
  height: 3034px;
  box-sizing: border-box;
}
.pagina-1 .servidor-1 {
  background: url('../assets/images/servidor_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 2289px;
  right: -25px;
  width: 512px;
  height: 471px;
}
.pagina-1 .picture-mario-background-png {
  background: url('../assets/images/picture_mario_background_png.png');
  position: absolute;
  right: 81px;
  bottom: 2px;
  width: 623px;
  height: 927px;
}
.pagina-1 .logo-facebook-svg {
  width: 46px;
  height: 46px;
}
.pagina-1 .link-6 {
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  margin: 52px 24px 29px 0;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.pagina-1 .stem-1 {
  margin: 0 0 10px 0.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .dark-blue {
  width: 46px;
  height: 46px;
}
.pagina-1 .link-7 {
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  margin-right: 24px;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.pagina-1 .logo-youtube-svg {
  width: 46px;
  height: 46px;
}
.pagina-1 .link-8 {
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.pagina-1 .container-11 {
  display: flex;
  flex-direction: row;
  width: 120px;
  box-sizing: border-box;
}
.pagina-1 .container-14 {
  margin: 20px 24px 29px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: fit-content;
  box-sizing: border-box;
}
.pagina-1 .logo-instagram-svg {
  width: 46px;
  height: 46px;
}
.pagina-1 .link-9 {
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  margin: 52px 51.5px 29px 0;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.pagina-1 .universo-11 {
  background: url('../assets/images/universo_11.png') 50% / cover no-repeat;
  width: 129px;
  height: 129px;
}
.pagina-1 .container-12 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  width: 444.5px;
  box-sizing: border-box;
}
.pagina-1 .link-privacy-policy {
  margin: 0 9.5px 0.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .container {
  margin: 0.8px 8.9px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .link-terms-of-use {
  margin: 0 8.5px 0.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .container-1 {
  margin: 0.8px 15.4px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .container-2 {
  margin: 0.8px 9.7px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .link-interest-based-ads {
  margin-bottom: 0.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .container-34 {
  margin: 0 29.3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .nclood-footer {
  margin: 0 48.1px 29.8px 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.pagina-1 .texto-texto-10 {
  margin-bottom: 21.9px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 16px;
  line-height: 0.946;
  color: #FFFFFF;
}
.pagina-1 .texto-texto-11 {
  margin: 0 8.8px 0 1.5px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 16px;
  line-height: 0.946;
  color: #FFFFFF;
}
.pagina-1 .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pagina-1 .texto-texto-12 {
  position: absolute;
  left: 50%;
  bottom: 138.2px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Catamaran';
  font-weight: 400;
  font-size: 11px;
  line-height: 1.375;
  color: #FFFFFF;
}
.pagina-1 .background-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #60035D;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -392px;
  display: flex;
  padding: 82px 0 98.5px 0.3px;
  box-sizing: border-box;
}
.pagina-1 .background-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#BC00B7, #BC00B7), linear-gradient(#BC00B7, #BC00B7);
  position: relative;
  display: flex;
  width: 1920px;
  height: 6119px;
  box-sizing: border-box;
}
.pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  box-sizing: border-box;
}
